{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "trailingComma": "all",
  "parser": "babel",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^lib/(.*)$",
    "^utils/(.*)$",
    "^assets/(.*)$",
    "^config/(.*)$",
    "^@fontsource/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
